/* Slow-motion Zoom Container */
.img-hover-zoom--slowmo img {
    transform-origin: 50% 65%;
    transition: transform 0.3s, 1s ease;
}

/* The Transformation */
.img-hover-zoom--slowmo:hover img {
    transform: scale(1.04);
    cursor: pointer;
}